<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job-net</title>
    <link rel="stylesheet" th:href="@{/css/info.css}">

    <link href="https://fonts.cdnfonts.com/css/iproton" rel="stylesheet">

</head>
<body>
<div class="main-container">
    <nav>Job-net</nav>
    <div class="info-container">
        <div class="info-pad">
            <p class="some-text">Social network about work and connections</p>
            <div class="img-info"></div>
        </div>
        <div class="register-pad">
            <div class="white-square"></div>
            <p>Profile Set up</p>
            <form method="POST" th:action="@{/preProfileSettings}" th:object="${profiles}" id="profileForm" class="loginForm">
                <div class="form-element">
                    <label for="username" class="colored lb">Your Name: </label>
                    <input type="text" id="username" th:field="*{userName}" class="log-label lb"/><br/>
                </div>
                <div class="form-element">
                    <label for="surename" class="colored lb">Surename: </label>
                    <input type="text" id="surename" th:field="*{sureName}" class="log-label lb"/><br/>
                </div>
                <div class="form-element">
                    <label for="biography" class="colored lb">About me: </label>
                    <input type="text" id="biography" th:field="*{biography}" class="log-label lb"/><br/>
                </div>
                <div class="form-element">
                    <input type="submit" value="Done" class="log-button"/>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/info.js}"></script>
</body>
</html>