<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job-net</title>
</head>
<body>
<!--/*@thymesVar id="profiles" type="package com.logan.socialnetwork.model.Profiles"*/-->
<form method="POST" th:object="${profileData}" th:action="@{/api/v1/profilePage/subscribe}">
    <img th:src="*{profilePictureUrl}" alt="Icon">
    <p th:text="*{userName}"></p>
    <p th:text="*{sureName}"></p>
    <p th:text="*{biography}"></p>
    <p th:text="*{registrationDate}"></p>
    <p th:text="${subsAmount}"></p>
    <div th:each="sub : ${subscribers}">
        <p th:text="'Sub - ' + ${sub.subscriberLogin}"></p>
    </div>
    <p th:text="${subscriptionsAmount}"></p>
    <div th:each="subed : ${subscriptions}">
        <p th:text="'Subed - ' + ${subed.profileLogin}"></p>
    </div>
    <input type="submit" th:if="${currentUser} == false" th:value="${subscribed} == true ? 'unsubscribe' : 'subscribe'">
</form>
<form method="POST" id="contentPostForm" th:if="${currentUser} == true" th:object="${newProfileContent}" th:action="@{/api/v1/profilePage/post}">
    <label for="content">Write A new Post!</label>
    <input type="text" id="content" name="content" th:field="*{content}">
    <input type="submit" form="contentPostForm" value="POST!">
</form>
<form method="get" th:if="${profileContent} != null" th:object="${profileContent}">
    <div th:each="contenter : ${profileContent}">
        <p th:text="${contenter.content}"></p>
    </div>
</form>
</body>
</html>