<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job-net</title>
    <link rel="stylesheet" th:href="@{/css/info.css}">

    <link href="https://fonts.cdnfonts.com/css/iproton" rel="stylesheet">

</head>
<body>
    <div class="main-container">
        <nav>Job-net</nav>
        <div class="info-container">
            <div class="info-pad">
                <p class="some-text">Social network about work and connections</p>
                <div class="img-info"></div>
            </div>
            <div class="register-pad">
                <div class="white-square"></div>
                <p>Register</p>
                <form method="POST" th:action="@{/register}" id="registerForm" class="loginForm">
                    <div class="form-element">
                        <label for="username" class="colored lb">User-login: </label>
                        <input type="text" name="username" class="log-label lb"/><br/>
                    </div>
                    <div class="form-element">
                        <label for="email" class="colored lb">Email: </label>
                        <input type="email" name="email" class="log-label lb"/><br/>
                    </div>
                    <div class="form-element">
                        <label for="password" class="colored lb">Password: </label>
                        <input type="password" name="password" class="log-label lb"/><br/>
                    </div>
                    <div class="form-element">
                        <input type="submit" value="Register" class="log-button"/>
                    </div>
                </form>
                <a class="login-link" th:href="@{/login}">Login</a>
            </div>
        </div>
    </div>
</body>
</html>